In [ ]:
#exceptional handling
age = '23'

try:
    if age>=18:
        print('can vote')
    else:
        print('cannot vote')
except TypeError:
    print('something is wrong')
        
except:
  print('Invalid Code!!')

something is wrong

In [ ]:
def student_records(**kwargs):
    import pandas as pd
    try:
        data=pd.DataFrame(kwargs)
        return data
    except:
        data=pd.DataFrame(kwargs,index=[1])
        return data

In [5]:
student_records(name='john cena',age=49,titles=17)

        name  age  titles
1  john cena   49      17

In [13]:
student_records(name=["john","randy","hhh"],
                age=[49,48,51],
                titles=[17,15,14],
                sec=list('ABC')
                )

    name  age  titles sec
0   john   49      17   A
1  randy   48      15   B
2    hhh   51      14   C

In [14]:
def show_time():
    while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear=True)

In [16]:
show_time()

Fri Jul  4 10:36:24 2025

KeyboardInterrupt:

In [21]:
def show_time():
    try:
     while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear=True)
    except:
        print('time has been stopped by the user')

In [22]:
show_time()

Fri Jul  4 10:44:09 2025
time has been stopped by the user

In [25]:
import john as jc
print('done')

done

In [26]:
jc.print_star(typ='mid',shape='$')

    $
   $ $
  $ $ $
 $ $ $ $
$ $ $ $ $

In [27]:
jc.print_star()

*
* *
* * *
* * * *
* * * * *

In [28]:
jc.check_palindrome('nitin')

'Palindrome'

In [29]:
jc.check_prime(5346)

'Not a Prime Number'

In [30]:
jc.factorial(3)

6

In [33]:
jc.give_fibo(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [37]:
jc.minn(55,90,45,91)

45

In [38]:
jc.show_time()

Fri Jul  4 11:59:24 2025
time has been stopped by the user

In [43]:
!pip install gTTS

Requirement already satisfied: gTTS in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from gTTS) (2.32.4)
Requirement already satisfied: click<8.2,>=7.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from gTTS) (8.1.8)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
jc.sound_box("suuiiiiiiiii ")

NameError: name 'jc' is not defined

In [6]:
import john as jc

this is ankit module in python
      info:https://www.google.com/

In [8]:
jc.sound_box("suuiiiiiiiii ")

In [ ]:
jc.student_records( name: "John", age: 18, grade: "A")

SyntaxError: invalid syntax (262277098.py, line 1)

In [10]:
jc.sum_of_n_natural_numbers(6)

21

In [11]:
from john import student_records
print("done")

done

In [12]:
from john import *
print("done")

done

In [13]:
sum_of_n_natural_numbers(7)

28

In [14]:
import turtle
print("done")

done

In [ ]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col=['red','yellow','green','blue','orange']
    import random
    picked_color=random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

:

In [ ]:
import turtle
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)

:

In [2]:
file=open('john.py',mode='r')
print(file.read())
file.close()

print('''this is ankit module in python
      info:https://www.google.com/''')


def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
            print('Happy Holi')
    else:
        return 'Prime Number'


def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')




def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result


def total_sales(*args):
  #unpacking
  result = 0
  for i in args:
    result += i
  return result


def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele


def sound_box(paisa,platform = 'suuiiiiiii'):
    from gtts import gTTS
    text  = f'''{platform}  {paisa}'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()



def show_time():
    try:
     while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear=True)
    except:
        print('time has been stopped by the user')





def student_records(**kwargs):
    import pandas as pd
    try:
        data=pd.DataFrame(kwargs)
        return data
    except:
        data=pd.DataFrame(kwargs,index=[1])
        return data

In [3]:
file=open('john.py',mode='r')
print(file.read(100))
file.close()

print('''this is ankit module in python
      info:https://www.google.com/''')


def check_palindrom

In [6]:
f=open('john.py',mode='r')

In [11]:
print(f.readline())

def check_palindrome(word:str):

In [12]:
f.close()
print("done")

done

In [13]:
f=open('john.py',mode='r')

In [14]:
for i in range(5):
  print(f.readline())

print('''this is ankit module in python

      info:https://www.google.com/''')





def check_palindrome(word:str):

In [15]:
f = open('john.py',mode = 'r')
for i in range(10):
    if i == 7: #line no 8
        print(f.readline())
    else:
        f.readline()

    if word == word[::-1]: