In [ ]:
def check_palindrome(word)
 return word

In [ ]:
check_palindrome('Ajay')

In [1]:
a='lucky'
a[::-1]

'ykcul'

In [2]:
a='nitin'
if a==a[::-1]:
    print(f'{a} is a palindrome')
else:
    (f'{a} is not a palindrome')

nitin is a palindrome

In [8]:
def check_palindrome(word:str):
  if type(word)==str:
    word=word.upper()
    if word==word[::-1]:
      return 'palindrome'
    else:
        return 'not palindrome'
  else:
    return'invalid code'

In [9]:
check_palindrome('harry')

'not palindrome'

In [10]:
a:int = 'Mohan'
print(a)

Mohan

In [12]:
def give_fibo(n):
    fibo = [0, 1]
    for i in range(n - 2):
        last_name = fibo[-1]
        second_last_name =fibo[-2]
        next_num=last_name + second_last_name
        fibo.append(next_num)
    return fibo

In [14]:
print(give_fibo(5))

[0, 1, 1, 2, 3]

In [15]:
def check_prime(number):
    for i in range(2,number):
        if number%i==0:
            return 'not a prime number'
            break
        else:
         return'prime number'

In [18]:
check_prime(55)

'prime number'

In [21]:
n=5
for i in range(n):
    print(i)

0
1
2
3
4

In [24]:
n=5
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [19]:
n=5
for i in range(1,n+1):
    print(i*'*')

*
**
***
****
*****

In [32]:
n=5
for i in range(1,n+1):
    print('  '*(n-i)+i*'* ')

        *
      * *
    * * *
  * * * *
* * * * *

In [33]:
n=5
for i in range(1,n+1):
    print(''*(n-i)+i*'* ')

*
* *
* * *
* * * *
* * * * *

In [37]:
n=5
for i in range(1,n+1):
    print(' '*(n-i)+i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [50]:
def print_star(n=5,typ='left'):
        for i in range(1,n+1):
         print(''*(n-i)+i*'* ')

In [51]:
print_star(3)

*
* *
* * *

In [79]:
def print_star(n=5,typ='left'):
        if typ=='left':
            space=''
        elif typ=='mid':
            space=' '
        elif typ=='right':
            space='  '
        for i in range(1,n+1):
            print(space*(n-i)+i*'* ')

In [73]:
print_star(15,'right')

                            *
                          * *
                        * * *
                      * * * *
                    * * * * *
                  * * * * * *
                * * * * * * *
              * * * * * * * *
            * * * * * * * * *
          * * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * *
    * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [74]:
print_star(4,'mid')

   *
  * *
 * * *
* * * *

In [75]:
print_star(8,'left')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [80]:
def sum_n_natural_numbers(n):
    result=0
    for i in range(1,n+1):
        result+=i
    return result

In [81]:
sum_n_natural_numbers(10)

55

In [82]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result

In [ ]:
factorial(5)

120

In [ ]:
def total_sales(*args):
    result=0
    for i in args:
        result+=i
    return result

In [2]:
total_sales(4+6+3)

13

In [7]:
sales = [45678,63,456,2,0]
min_element = sales[0]

for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

0

In [ ]:
sales = [45678,63,456,2,0]
max_element = sales[4]

for i in sales[:4]:
  if i > max_element:
    max_element = i
print(max_element)

45678

In [11]:
def minn(*data):
    max_element = sales[4]

    for i in sales[:4]:
        if i > max_element:
            max_element = i
    return max_element

In [12]:
minn()

45678

In [18]:
def maxx(*data):
    min_element = sales[1]

    for i in sales[1:]:
        if i > min_element:
            min_element = i
    return min_element

In [19]:
maxx()

456

In [37]:
company=['ola','uber','rapido','indrive','adani','tata']
 
def add_hashtag(*company):
    result=[]
    for i in company:
        result.append('#'+i.upper())
    return result

In [32]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [38]:
add_hashtag('ola','uber')

['#OLA', '#UBER']

In [41]:
def store_records(name,age,sec,roll_no,Class):
    dict={'name':name,'age':age,'sec':sec,'roll_no':roll_no,'Class':Class}
    import pandas as pd
    result =pd.DataFrame(dict,index=[1])
    return result

In [ ]:
display(store_records('john',65,'E',12,52))
display(store_records('randy',66,'r',11,53))
display(store_records('brock',67,'j',10,57))

   name  age sec  roll_no  Class
1  john   65   E       12     52

    name  age sec  roll_no  Class
1  randy   66   r       11     53

    name  age sec  roll_no  Class
1  brock   67   j       10     57